<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('招聘简历列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <p>姓名：</p>
                                <input type="text" name="name"/>
                            </li>
                            <li>
                                <p>联系电话：</p>
                                <input type="text" name="phoneNumber"/>
                            </li>
                            <li>
                                <p>求职意向：</p>
                                <input type="text" name="jobIntention"/>
                            </li>
                            <li>
                                <p>专业：</p>
                                <input type="text" name="major"/>
                            </li>
                            <li>
                                <p>简历状态：</p>
                                <select name="status" th:with="type=${@dict.getType('')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <p>来源渠道：</p>
                                <select name="sources" th:with="type=${@dict.getType('')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li class="select-time">
                                <label>创建时间： </label>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginTime]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endTime]"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.addTab()" shiro:hasPermission="recruit:resume:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.editTab()" shiro:hasPermission="recruit:resume:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="recruit:resume:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="recruit:resume:export">
                    <i class="fa fa-download"></i> 导出
                 </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('recruit:resume:edit')}]];
        var removeFlag = [[${@permission.hasPermi('recruit:resume:remove')}]];
        var prefix = ctx + "recruit/resume";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "招聘简历",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'resumeId', 
                    title : '简历ID',
                    visible: false
                },
                {
                    field : 'name', 
                    title : '姓名'
                },
                {
                    field : 'phoneNumber', 
                    title : '联系电话'
                },
                {
                    field : 'email', 
                    title : '邮箱地址'
                },
                {
                    field : 'sex', 
                    title : '性别'
                },
                {
                    field : 'birthDate', 
                    title : '出生日期'
                },
                {
                    field : 'age', 
                    title : '年龄'
                },
                {
                    field : 'jobIntention', 
                    title : '求职意向'
                },
                {
                    field : 'major', 
                    title : '专业'
                },
                {
                    field : 'education', 
                    title : '学历'
                },
                {
                    field : 'workSeniority', 
                    title : '工作年限'
                },
                {
                    field : 'industry', 
                    title : '行业'
                },
                {
                    field : 'monthlySalary', 
                    title : '期望月薪'
                },
                {
                    field : 'salaryStructure', 
                    title : '薪酬结构'
                },
                {
                    field: 'createTime',
                    title: '创建时间',
                    sortable: true
                },
                {
                    field : 'resumeSource', 
                    title : '简历来源'
                },
                {
                    field : 'channel',
                    title : '来源渠道'
                },
                {
                    field : 'status', 
                    title : '简历状态'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.resumeId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.resumeId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>